/* -----------------------------------------------------------------------------
 * Positions Table
 * -------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
 * Narrow Layout (0-499)
 * -------------------------------------------------------------------------- */
@media screen and (max-width: 499px) {
    .layout-info:before { content: "Narrow Layout (0-499)"; }

    /* hide priority2 and priority3 columns */
    .priority2 { display: none; }
    .priority3 { display: none; }
	div.label,div.labeltitle {display:block;border-bottom: 1px solid #CECECE;}
	span.data,span.label { display: inline-block;padding: 2px;}
	span.label{background-color: #ECECEC;font-weight: bold;width: 28%;}	
	div.label:last-child{margin-bottom:10px;}
	div.ui-jqgrid-hbox{display:none;}
	td{display:none;}
	td:first-child{display:table-cell;}
	.ui-jqgrid .ui-jqgrid-bdiv{overflow:visible;}
}

/* -----------------------------------------------------------------------------
 *  Medium Layout (500-899)
 * -------------------------------------------------------------------------- */
@media screen and (min-width: 500px) and (max-width: 899px) {
    .layout-info:before { content: "Medium Layout (500-899)"; }

    /* hide priority3 columns */
    .priority3 { display: none; }
}

/* -----------------------------------------------------------------------------
 *  Wide Layout (900+)
 * -------------------------------------------------------------------------- */
@media screen and (min-width: 900px) {
    .layout-info:before { content: "Wide Layout (900+)"; }
}